body{
    background-color: black;
}
.post-container {
  /* border: 5px solid black;
    margin: 20px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 50px;
  
}
.post div {
  width: 570px;
  height: 400px;
  border: 5px solid rgb(30, 29, 29);
  margin: 20px 0;
  box-shadow: 1px 1px 25px rgb(255, 255, 255) ;
}
.post div h2 {
  color: rgb(69, 131, 77);
  margin: 40px 0 30px 40px;
}
.post div h3 {
    color: rgb(249, 249, 249);
    margin-left: 40px;
  margin-bottom: 20px;
}
.post div p {
    color: rgb(133, 137, 140);
  margin-left: 40px;
  
}
.post div button {
    background-color: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    text-shadow: 3px 3px 5px rgb(9, 255, 5);
    cursor: pointer;
    margin-left: 40px;
  
}
