body{
    background-color: black;
}
.post-container {
  /* border: 5px solid black;
    margin: 20px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 50px;
  
}
.post div {
  width: 570px;
  height: 400px;
  border: 5px solid rgb(30, 29, 29);
  margin: 20px 0;
  box-shadow: 1px 1px 30px rgb(255, 255, 255) ;
}
.post div h2 {
  text-align: center;
  color: rgb(69, 131, 77);
  margin: 40px 0 30px 0;
}
.post div h3 {
    color: rgb(249, 249, 249);
    text-align: center;
  margin-bottom: 20px;
}
.post div p {
    color: rgb(133, 137, 140);
  text-align: center;
}
